@model R61M6C2_w01.Models.Employee
@{
    ViewBag.Title = "Edit";
}

 
@using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <form>
        <fieldset>
            <legend>Employee Entry</legend>
            @Html.ValidationSummary(true)
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>

                @Html.EditorFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Department</label>
                
                @Html.DropDownListFor(m => m.DeptId,(IEnumerable<SelectListItem>) @ViewBag.Department,"Select Department")
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Salary</label>
                @*<select id="disabledSelect" class="form-select">
                <option>Disabled select</option>
            </select>*@
                @Html.EditorFor(m => m.Salary, new { @class = "form-control", @placeholder = "Name" })
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Joining Date</label>

                @Html.EditorFor(m => m.JoiningDate, new { @class = "form-control", @placeholder = "Name" })
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">status</label>

                @Html.EditorFor(m => m.Iscontinued, new { @class = "form-control", @placeholder = "Name" })
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Image</label>
                <input type="file" name="EmployeePic" />

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
}

